*::-webkit-scrollbar {
  @apply w-1;
}

*::-webkit-scrollbar-track {
  @apply bg-transparent;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-md;
  background-color: white;
}

* {
  scrollbar-color: white transparent;
  scrollbar-width: thin;
}

.hover-orange {
  transition: all 0.3s;
}

.hover-orange:hover {
  @apply text-orange;
}

.hover-orange::before {
  content: "[ ";
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.hover-orange:hover::before {
  opacity: 1;
}

.hover-orange::after {
  content: " ]";
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.hover-orange:hover::after {
  opacity: 1;
}
